* {
  all: unset; //Unsets everything so you can style everything from scratch
  font: 27px "JetBrainsMono Nerd Font";
  font-weight: bold;
}

//Global Styles
.volumepop {
  background-color: #1d2021;
  color: #689d6a;
  border-radius: 5px;
}

.brightnesspop {
  background-color: #1d2021;
  color: #689d6a;
  border-radius: 5px;
}

.pop {
  margin-left: -11px;
}

// Styles on classes (see eww.yuck for more information)

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #98971a;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #272a2b;
  border-radius: 50px;
  min-height: 7px;
  min-width: 50px;
  margin-left: 0px;
  margin-right: 15px;
}
